@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}


.navbar .nav-link.active {
    background-color: #0462c5;
    color: #004085
    
}

.me{
    width: 100%;
    height: 100vh;         
    object-fit: cover;   
}

.nameContainer {
     
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; 
    z-index: 2; 
}

.heroSection {
    position: relative;
    min-height: 100vh;
    background-image: url("../img/programmingImage.jpg");
    background-size: cover;
    background-position: center;
}


.bioCard {

    width: 80%;         
    max-width: 1000px;   
    min-width: 320px;   
    background: rgba(0,0,0,0.4); /*overlay*/
    color: white;
    border: 0.4mm solid white;
    padding: 2rem;
    border-radius: 10px;

}

.contactDivContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contactLink {
    margin-left: auto;
    margin-right: auto;
}

.contactDivEmail {
    
    border: 0.4mm solid white;
    height: 30px;
    width: 30px;
    background-image: url("../img/emailIcon.png");
    background-size: 100%;
    filter: brightness(0) invert(1);
    
}

.contactDivLinkedIn {
    margin-left: auto;
    margin-right: auto;
    border: 0.4mm solid white;
    height: 30px;
    width: 30px;
    background-image: url("../img/linkedin.png");
    background-size: 100%;
    filter: brightness(0) invert(1);
    
}

.contactDivGitHub {
    margin-left: auto;
    margin-right: auto;
    border: 0.4mm solid white;
    height: 30px;
    width: 30px;
    background-image: url("../img/gitHubIcon.png");
    background-size: 100%;
    filter: brightness(0) invert(1);
    
}

/* Education div css */

.EducationDiv {
    
  text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.uLowellLogo {
    height: 260px;
    width: 200px;
    margin-bottom: 30px;
}

.EducationTitle {
    padding-top: 100px;
    padding-bottom: 30px;
}

.EducationBackground {
width: 60%;
margin: auto;
}

/* Skills div css */

.SkillsDiv {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .SkillsLogo {
      height: 200px;
      width: 200px;
      margin-bottom: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .SkillsTitle {
      padding-top: 100px;
      padding-bottom: 30px;
  }
  
  .SkillsBackground {
  width: 90%;
  margin: auto;
  }

.SkillsListContainer {
    flex: 1 1 280px;  
    max-width: 320px;
    height: 280px;
    padding: 16px;
    background-color: rgb(228, 227, 227);
    border-radius: 20px;
    text-align: left;
}

.SkillsListTitle {
    height: 80px;
}

.SkillsList {
    /*border: 1px solid black;*/
    font-weight: bold;
    margin-bottom: 6px;
}

.SkillLists{
    display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  gap: 20px;          
  margin-top: 20px;
}

/* Professional Experience CSS */

.ExperienceDiv {
    
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 200px;
}

.ExperienceLogo {
    height: 100px;
    width: 390px;
    margin-bottom: 30px;
}


.ExperienceTitle {
    padding-top: 100px;
    padding-bottom: 30px;
}

.ExperienceBackground {
width: 60%;
margin: auto;
}

/*stuff for the wheel*/
.wrapper {
    width: 90%;
    max-width: 34.37em;
    background-color: #ffffff;
    margin: 100px auto; 
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
    position: relative; 
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
    
}

#wheel {
    
    width:100%;
    height: auto;
    max-width: 400px;
    aspect-ratio: 1 / 1; /*Stays a square*/

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.chart-wrapper{
    position:relative;
    display:inline-block;
}

#spin-btn {
    
    height: 26%;
    width: 26%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#078b49 50%, #28532f 85%);
    color:#ffffff;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
    

}

.pointer {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
}

#final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #202020;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 12px;
    }

    .pointer{
        right: -5%;
    }
}

.spinnerTitle {
    border: 1px solid black; 
    padding: 20px;
    text-align: center; 
}
   