@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Poppins", sans-serif;
   
}
/*^^ font for all text*/


.navbar .nav-link.active {
    background-color: #0462c5;
    color: #004085
    
}

#NBodyPNG {
    height: 200px;
    width: 70%;
    
    margin-bottom: 30px;
}

#DecodePNG {
    height: 200px;
    width: 95%;
    
    margin-bottom: 30px;
}

#DiningHallPNG {
    height: 200px;
    width: 95%;
    
    margin-bottom: 30px;
}

#scavengePNG {
    height: 200px;
    width: 80%;
    
    margin-bottom: 30px;
}

#newGame {
    height: 200px;
    width: 80%;
    
    margin-bottom: 30px;
}

.project-card {
  text-decoration: none;
  color: inherit; 
}
.project-card:hover {
  text-decoration: none; 
}

/* project content css I am doing this to have a cool background color effect*/

.mainContent {
    width:100%;
    height: 2500px;
    background-image:linear-gradient(to bottom right, rgb(66, 65, 65),rgb(18, 17, 17));
}

body {
  margin: 0; 
  
}

.gamesTitle {
    padding-top: 200px;
    padding-bottom: 100px;
    margin: auto;
    text-align: center;
    width: 60%;
    color: gray;

    
}

/*projects content css */

.projectsTitle {
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto;
    text-align: center;
    width: 60%;
    color: gray;

    
}


.projectContainer {
    text-align: center;
    /*border: 1px solid black;*/
    height: max-content;
    background-color: rgb(154, 150, 150);
    height: 560px;
    
}

.ProjectTitle {
    height: 70px;
}

.ProjectDescription {
    font-weight: bold;
    display: inline-block;
    height: auto;
  width: 100%;
}